
.reveal pre {
    width: 100%;
}

.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal present {
    font-size: 90%;
}

.reveal code {
    background-color: rgb(43,43,43);
    font-size: 90%;
}

.reveal a {
    background-color: rgba(20, 20, 50, 0.5);
}